<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{config sitename}会员平台</title>
{template ../common}
<link href="{self tempdir}css/style.css" rel="stylesheet" type="text/css" />
{script {self tempdir}js/member.js,{self tempdir}js/{$_GET['act']}_{$_GET['type']}.js}
</head>
<body>
<div id="header">
 <div class="logo"></div>
 <div class="nav">
   {template member_left}
 </div>
 <div style="clear:both;"></div>
</div>
<div id="banner"><img src="{self tempdir}images/lo2_05.jpg" /></div>
