<ul id="menu">
  <li><a href="{echo Purl("?mod=member")}">玩家首页</a></li>
  <!--{loop user_menu() $key=>$val}-->
  <!--{if $this->user->gt_purview($key)&&$key!='main'}-->
  <li><a href="javascript:;">{$val}</a>
    <ul id="menu_{$key}">
      <!--{loop member_menu($key) $k=>$v}-->
      <!--{if $this->user->rn_purview('member',$key,$k)}-->
      <li><a href="{echo Purl("?mod=member&act=".$key."&type=".$k)}"><div class="ico i_menu"></div>{$v}</a></li>
      <!--{/if}-->
      <!--{/loop}-->
    </ul>
  </li>
  <!--{/if}-->
  <!--{/loop}-->
  <li><a href="{echo Purl("?mod=member&act=notice")}">玩家公告</a></li>
  <li><a href="{echo Purl("?mod=member&act=imessage")}">站内信件</a></li>
  <li><a href="{echo Purl("?mod=member&act=logout")}">退出系统</a></li>
</ul>