<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{config sitename} - 密码找回</title>
<meta name="keywords" content="{self keywords}" />
<meta name="description" content="{self description}" />
{template ../common}
{style {self tempdir}css/login.css}
<link href="{self tempdir}css/style.css" rel="stylesheet" type="text/css" />
{script {self tempdir}js/forgotpassword.js}
</head>
<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="{self tempdir}images/Top11.jpg">
  <tr>
    <td width="369" height="110"><img src="{self tempdir}images/logo_02.png" width="369" height="111" /></td>
    <td width="631">&nbsp;</td>
  </tr>
</table>
<div id="banner"><img src="{self tempdir}images/lo2_05.jpg" /></div>
<div id="main">
  <div class="right">
    <div class="opencard_main opencard_main2">
      <div class="opencards_title">
        <div class="opencards_title_b">找回密码</div>
        <div class="opencards_title_a">提示：<span class="text_x_12px">*</span> 为必填项目！</div>
      </div>
      <div class="opencard_box" style="padding-left:50px;">
        <form id="ajaxformbox" name="ajaxformbox" method="post" onsubmit="return checkform();">        
        <div class="opencard_h ">
          <div class="opencard_text"><span class="text_x_12px">*</span> 玩家编号</div>
          <div class="opencard_input_box"><input name="username" id="username" class="myinput data" type="text" value="" onblur="checkusername()"/>
                <span class="tips" id="usernametip"></span></div>
        </div>
        
        
        <div class="opencard_h">
          <div class="opencard_text"><span class="text_x_12px">*</span> 安全问题1</div>
          <div class="opencard_input_box">{form('q1','','select',{self safeq},'onchange=\'checkq1()\'')}
                 <span class="tips" id="q1tip"></span></div>
        </div>
        
        <div class="opencard_h">
          <div class="opencard_text"><span class="text_x_12px">*</span> 安全答案1</div>
          <div class="opencard_input_box"><input type="text" size="20" value="" class="myinput data" id="a1" name="a1" onblur="checka1()" />
                 <span class="tips" id="a1tip"></span></div>
        </div>
        
        <div class="opencard_h">
          <div class="opencard_text"><span class="text_x_12px">*</span> 安全问题2</div>
          <div class="opencard_input_box">{form('q2','','select',{self safeq},'onchange=\'checkq2()\'')}
                 <span class="tips" id="q2tip"></span></div>
        </div>
        
        <div class="opencard_h">
          <div class="opencard_text"><span class="text_x_12px">*</span> 安全答案2</div>
          <div class="opencard_input_box"><input type="text" size="20" value="" class="myinput data" id="a2" name="a2" onblur="checka2()" />
                 <span class="tips" id="a2tip"></span></div>
        </div>
        
        <div class="opencard_h">
          <div class="opencard_text"><span class="text_x_12px">*</span> 安全问题3</div>
          <div class="opencard_input_box">{form('q3','','select',{self safeq},'onchange=\'checkq3()\'')}
                 <span class="tips" id="q3tip"></span></div>
        </div>
        
        <div class="opencard_h">
          <div class="opencard_text"><span class="text_x_12px">*</span> 安全答案3</div>
          <div class="opencard_input_box"><input type="text" size="20" value="" class="myinput data" id="a3" name="a3" onblur="checka3()" />
                 <span class="tips" id="a3tip"></span></div>
        </div>
        
        <div class="opencard_h ">
          <div class="opencard_text"><span class="text_x_12px">*</span> 登陆密码</div>
          <div class="opencard_input_box"><input type="text" value="" name="password" id="password" class="myinput data" onblur="checkpassword()"/>
                  <span class="tips" id="passwordtip"></span><div style="clear:both;"></div></div>
        </div>
        <div class="opencard_h ">
          <div class="opencard_text"><span class="text_x_12px">*</span> 安全密码</div>
          <div class="opencard_input_box"><input type="text" value="" name="repass" id="repass" class="myinput data" onblur="checkrepass()"/>
                 <span class="tips" id="repasstip"></span><div style="clear:both;"></div></div>
        </div>
        
        
        <div class="opencard_button_box">{form('opcardbutton','重置密码','submit')} </div> <a href="{url member}">返回登录</a>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
{template ../footer}
</body>
</html>
