@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin:0;
	padding:0;
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, \5b8b\4f53;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
address, cite, dfn, em, var {
	font-style:normal;
}
small {
	font-size:12px;
}
dl, ol, ul, li {
	list-style:none;
}
a {
	text-decoration:none;
	outline:none;
}
a:hover {
	text-decoration:underline;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
.red {
	color:#f00;
}
a.red:hover {
	text-decoration:underline;
	color:#f00;
}
.orange {
	color:#f60;
}
.blue {
	color:#2af;
}
a.blue:hover {
	text-decoration:underline;
	color:#2af;
}
.green {
	color:#3b0;
}
.red {
	color:#F00;
}
.gray {
	color:#333;
}
.gray01 {
	color:#666;
}
.gray02 {
	color:#999;
}
.gray03 {
	color:#bbb;
}
/* 文字排版 */
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f24{font-size:24px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.lh150{line-height:1.5}
.lh180{line-height:1.8}
.lh200{line-height:2}
.lh16{line-height:16px}
.lh20{line-height:20px}
.lh25{line-height:25px}
.unl{text-decoration:underline}
.no_unl{text-decoration:none}
.arial{font-family:arial}
.simsun{font-family:'simsun'}
.yahei{font-family:'microsoft yahei'}


/* 字体颜色 */
.black{color:black}
.gray{color:gray}
.white{color:white}
.red{color:red}
.green{color:green}
.yellow{color:yellow}
.blue{color:blue}
.c_000{color:#000}
.c_333{color:#333}
.c_555{color:#555}
.c_666{color:#666}
.c_777{color:#777}
.c_999{color:#999}
.c_ccc{color:#ccc}
.c_fff{color:#fff}
.c_f30{color:#f30}
.c_f60{color:#f60}
.c_f90{color:#f90}
.c_4b9900{color:#4b9900}
.c_0065cb{color:#0065cb}
.c_4b9a03{color:#4b9a03}
.c_ff333{color:#f33}

/* 定位 */
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.bc{margin-left:auto;margin-right:auto}/* blockCenter */
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clear{display:block;font-size:0;line-height:0;clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
/* Hides from IE-mac \*/
* html .clearfix{height:1%}
.clearfix{display:block}
/* End hide from IE-mac */
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}


/* 长度 */
.w{width:100%}
.w10{width:10px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w260{width:260px}
.w280{width:280px}
.w400{width:400px}
.w500{width:500px}
.w600{width:600px}
.w710{width:710px}
.w960{width:960px}
.w1000{width:1000px}
.w_3{width:30%}
.w_5{width:50%}
.h{height:100%}
.h50{height:50px}
.h100{height:100px}


/* 边距 5 10 15 20 25 30 */
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}

.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}

.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}

.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}

.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}

.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}

.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}

.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}

.pr0{padding-right:0px;}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}

/* add mt */
.mt7{margin-top:7px}
.mt50{margin-top:50px}
/* 列表页/学校页面 搜索结果 */
.lSelectBar{border:1px solid #DCDEE1;}
.lSelectBar .sUl{border:1px solid #fff;background:#F4F4F4;height:32px;padding-left:10px;}
.lSelectBar .sUl li{float:left;margin:5px 10px 0 0px;*display:inline;}
.lSelectBar .sUl .i_s{display:block;position:relative;width:auto;height:20px;padding:0 5px;border:1px solid #ccc;font:12px/20px 'simsun'; color:#555;text-align:center;_display:inline;_zoom:1;background-color:#fff;}
.lSelectBar .sUl .i_s .i_s_down{display:block;float:left;margin-right:5px;margin-top:6px;width:7px;height:8px;background:url('http://res.ckimg.com/sites/www/v2/images/public/ico_sprite.png') no-repeat -5px -371px;}
.lSelectBar .sUl .i_s .i_s_up{display:block;float:left;margin-right:5px;margin-top:6px;width:7px;height:8px;background:url('http://res.ckimg.com/sites/www/v2/images/public/ico_sprite.png') no-repeat -5px -431px;}
.lSelectBar .sUl .i_s:hover{border:1px solid #f90;background-color:#FFFDE6;}
.lSelectBar .sUl .i_s:hover .i_s_down{background-position:-5px -401px;}
.lSelectBar .sUl .i_s:hover .i_s_up{background-position:-5px -461px;}
.lSelectBar .sUl .i_s_curr,
.lSelectBar .sUl .i_s_curr:hover{border:1px solid #f60;background-color:#f60;color:#fff;}
.lSelectBar .sUl .i_s_curr .i_s_down,
.lSelectBar .sUl .i_s_curr:hover .i_s_down{background-position:-5px -660px;}
.lSelectBar .sUl .i_s_curr .i_s_up,
.lSelectBar .sUl .i_s_curr:hover .i_s_up{background-position:-5px -779px;}
/**----------------------------------------=E 筛选条 lSelectBar */
legend {
	color:#000;
}
fieldset, img {
	border:0;
}
button, input, select, textarea {
	font-size:100%;
}
textarea {
	resize:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	border:none;
	vertical-align:top;
}
body {
	color:#595959;
	background:url(../images/bg3.png) #fff no-repeat top  center;
}
input[type="text"]:focus {
	outline:none;
}
.fl, .l {
	float:left;
}
.fr, .r {
	float:right;
}
.c {
	clear:both;
}
.o {
	overflow:hidden;
}
.clr {
	height:0;
	font-size:0;
	line-height:0;
	clear:both;
	overflow:hidden;
}
.tri4 {
	width:0;
	height:0;
	line-height:0;
	font-size:0;
	position:absolute;
	cursor:pointer;
	border:4px dashed transparent;
}
.mr10{
	margin-right:10px;
}
.left {
	float:left;
}
:focus {
	outline:0;
}
.clearfix:after {
	content:'\0020';
	display:block;
	height:0;
	clear:both;
}
.clearfix {
*zoom:1;
}
img {
	border:0;
}
ul, li {
	list-style:none;
}
div, ul, li, dl, dt, dd, table, td, input {
	font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
	/*font-weight:normal;*/
	font-size:12px;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#f60;
}
a:active {
star:expression(this.onFocus=this.blur());
}
.clear {
	width:100%;
	height:0;
	clear:both;
	overflow:hidden;
}
.clear1 {
	width:100%;
	height:15px;
	clear:both;
	overflow:hidden;
}
i, em {
	font-style:normal;
}
.Fb {
	font-weight:bold;
}
.fl, .fl-img {
	float:left;
}
.fr {
	float:right;
}
.mat10 {
	margin-top:10px;
}
.mab10 {
	margin-bottom:10px;
}
.blank10 {
	height:10px;
	font-size:0;
	overflow:hidden;
	line-height:0;
	background:none;
}
.show {
	display:block;
}
.red {
	color:#f00;
}
a.red:hover {
	text-decoration:underline;
	color:#f00;
}
.orange {
	color:#f60;
}
.blue {
	color:#2af;
}
a.blue:hover {
	text-decoration:underline;
	color:#2af;
}
.green {
	color:#3b0;
}
.red {
	color:#F00;
}
.gray {
	color:#333;
}
.gray01 {
	color:#666;
}
.gray02 {
	color:#999;
}
.gray03 {
	color:#bbb;
}
.orangebut, .bluebut, .graybut, .cancelBtn, .greenbut {
	display:inline-block;
	font-size:12px;
	border-radius:2px;
	text-align:center;
	padding:0 19px;
*overflow:visible;
	cursor:pointer;
}
input.orangebut, input.bluebut, input.graybut, input.cancelBtn {
	padding:4px 19px;
	padding:6px 19px 2px\9;
*padding:5px 19px 1px;
	_padding:5px 19px 1px;
}
a.orangebut, a.bluebut, a.graybut, a.cancelBtn, a.greenbut {
	height:23px;
	line-height:23px;
	line-height:26px\9;
	_line-height:22px;
}
input[type=button]::-moz-focus-inner {
border:0;
}
.greenbut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.greenbut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
}
.orangebut {
	background:#f60;
	border:1px solid #f65802;
	color:#fff;
}
.orangebut:hover {
	background:#f65802;
	color:#fff;
}
.bluebut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.bluebut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
}
.graybut {
	background:#f3f3f3;
	border:#cfcfcf 1px solid;
	color:#999;
}
.graybut:hover {
	background:#bbb;
	color:#fffeee;
}
.cancelBtn {
	background:#f4f4f4;
	border:#ddd 1px solid;
	color:#747474;
}
.cancelBtn:hover {
	background:#f4f4f4;
	border:#bbb 1px solid;
	color:#747474;
}
.collect a, .tips-con i, .h_news i, .h_news b {
	background:url(../images/headerimg.png);
}
.tips-con {
	text-align:center;
	color:#666;
	margin:30px 0;
}
.tips-con i {
	width:17px;
	height:17px;
	background-position:-212px -100px;
	display:inline-block;
	margin-right:4px;
	vertical-align:-4px;
	vertical-align:-2px\9;
	_vertical-align:-2px;
}
.msgNoMore {
	font-size:14px;
	padding:15px 0 0;
	text-align:center;
	color:#bbb;
}
#main {
	width:1000px;
	margin:0 auto;
}
.bc {
	height:14px;
	margin-bottom:7px;
	font:0/14px \5b8b\4f53;
}
.bc span {
	padding:0 7px;
	font-size:12px;
}
.bc a {
	color:#506eaa;
	font-size:12px;
}
.bc span.left, .bc span.right {
	padding:0;
}
.top {
	width:100%;
	height:32px;
	font-size:12px;
	z-index:99;
	background:url(../images/header.png) repeat-x 0 -495px;
	background-color:#FAFAFA;
	color:#5d5d5d;
	border-bottom:1px solid #E8E8E8;
	margin-bottom:2px;
}
.top a {
	text-decoration:none;
	outline:none;
	color:#5d5d5d;
}
.top a:hover {
	text-decoration:none;
	color:#FF5600;
}
.top .topmenu {
	width:1000px;
	height:32px;
	margin-left:auto;
	margin-right:auto;
	z-index:98;
	position:relative;
	line-height:32px;
}
.top .topmenu .toplink {
	float:left;
}
.top .topmenu .toplink .gotohome {
	margin-right:10px;
	cursor:pointer
}
.top .topmenu .toplink .gotohome a {
	background:url(../images/top_menu.gif) no-repeat 0 10px;
	display:block;
	padding-left:15px;
}
.top .topmenu .toplink div {
	float:left;
}
.top .topmenu .toplink .menulist {
	position:relative;
}

.top .menucon {
	display:none;
	position:absolute;
	left:0px;
 *left:-1px;
	top:32px;
	background-color:#FFFFFF;
	width:108px;
	-webkit-box-shadow: 0px 3px 8px #DDD;
	-moz-box-shadow: 0px 3px 8px #DDD;
	box-shadow: 0px 3px 8px #DDD;
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#EEEEEE);
 -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#EEEEEE);
 *border-left:1px #e3e3e3 solid
}
.top .menucon ul {
	list-style:none;
	margin:0px;
	padding:0px;
	width:88px;
	margin-left:9px;
	padding-top:5px;
}
.top .menucon ul li {
	border-bottom:1px #eaeaea solid;
	overflow:hidden;
	height:32px;
	font-size:0px;
	padding-top:1px;
	padding-bottom:1px;
}
.top .menucon ul li.last {
	border-bottom:0px;
	margin-bottom:5px;
}
.top .menucon ul li a {
	color:#878787;
	font-size:12px;
	padding-left:28px;
	width:60px;
	background:url(../images/top_ico.png) no-repeat;
	display:block;
}
.top .menucon ul li a:hover {
	background-color:#F7F7F7;
	height:31px;
	color:#ff5300;
}
.top .menucon ul li a.ico_profile {
	background-position:8px 9px;
}
.top .menucon ul li a.ico_head {
	background-position:8px -15px;
}
.top .menucon ul li a.ico_safe {
	background-position:8px -40px;
}
.top .menucon ul li a.ico_manager {
	background-position:8px -65px;
}
.top .menucon ul li a.ico_order {
	background-position:8px -90px;
}
.top .menucon ul li a.ico_onshare {
	background-position:8px -115px;
}
.top .menucon ul li a.ico_score {
	background-position:8px -140px;
}
.top .menucon ul li a.ico_like {
	background-position:8px -165px;
}
.top .menucon ul li a.ico_invite {
	background-position:8px -190px;
}
.top .menucon ul li a.ico_collection {
	background-position:8px -215px;
}
.top .menucon ul li a.ico_desk {
	background-position:8px -240px;
}
.top .menucon ul li a.ico_online {
	background-position:8px -265px;
}
.top .menucon ul li a.ico_help {
	background-position:8px -290px;
}
.top .menucon ul li a.ico_bind {
	background-position:8px -340px;
}
.top .menucon ul li a.ico_share {
	background-position:8px -315px;
}
.top .menucon ul li a.ico_home {
	background-position:8px -365px;
}
.top .menucon ul li a.ico_getfen {
	background-position:8px -390px;
}
.top .topmenu .toplink .active .menucon {
	display:block
}
.top .user {
	float:right;
	height:30px;
	line-height:30px;
}
.top .welcome {
	color:#999999;
	float:left;
	height:30px;
	line-height:30px;
}
.top .user .welcome1 {
	color:#999999;
}
.top .tlogin {
	float:left;
	margin-left:10px;
	cursor:pointer;
	height:30px;
	line-height:30px;
}
.top .tor {
	float:left;
	margin-left:5px;
	cursor:pointer;
	height:30px;
	line-height:30px;
}
.top .treg {
	float:left;
	margin-left:5px;
	cursor:pointer;
	height:30px;
	line-height:30px;
}
.top .user a.login-info{
	color:#d42427;
}
.top .user a.login-info-icon{background:url(../images/top_bar_bg.gif) no-repeat 4px -48px;padding-left:12px;}
.top .user a.login-info:hover{
	text-decoration:underline;
}
.top .toplogin {
	float:left;
	position:relative;
	z-index:9998;
}
.top .toplogin .menucon {
	display:none;
	position:absolute;
	top:32px;
	left:auto;
	right:0px;
*right:-4px;
}
.top .toplogin .menutitle {
	float:left;
	padding-left:6px;
	padding-right:10px;
	cursor:pointer
}
.top .toplogin .menutitle .set {
	float:left;
	background:url(../images/top_menu.gif) no-repeat 2px -107px;
	width:28px;
	padding:0px;
	height:30px;
	padding-left:22px;
	padding-top:2px;
	font-weight:bolder;
}
.top .user .active .menutitle .set {
	background:url(../images/top_menu.gif) no-repeat 2px -107px;
}
.top a.logout {
	cursor:pointer;
	float:left;
	background:url(../images/top_menu.gif) no-repeat 0 -82px;
	width:30px;
	height:26px;
	font-size:12px;
	overflow:hidden;
	padding-left:20px;
	padding-top:2px;
	font-weight:bolder;
	margin-left:5px;
}
.top a:hover.logout {
	background:url(../images/top_menu.gif) no-repeat 0 -135px;
}
.top .toplogin .menutitle .tico {
	background-image:url(../images/top_menu.gif);
	background-position:0 -22px;
	font-size:0px;
	width:7px;
	height:4px;
	margin-top:14px;
	margin-left:3px;
	float:left;
}
.top .user .active .menutitle .tico {
	background-position:0 -27px;
}
.top .user .active .menucon {
	display:block
}
.top .user .active .menutitle {
	float:left;
	color:#ff5300;
	background-color:#FFFFFF;
	margin-left:-1px;
	margin-right:-1px;
	line-height:32px;
	border-left:1px #e3e3e3 solid;
	border-right:1px #e3e3e3 solid;
}
#header {
	width:100%;
	margin:0 auto;
	padding:10px 0 10px 0;
	height:60px;
	background:#FFF;
}
#header .logo {
	float:left;
}
#header #search-box {
	margin-top:5px;
	height:50px;
	float:left;
	width:432px;
	margin-left:50px;
}
#header .hotkeyword{
	padding-top:5px;
	
}
#ts-keyword {
	border:none;
	height:28px;
	line-height:28px;
	background:url(../images/common-ico.png) no-repeat -480px -90px #fff;
	width:325px;
	float:left;
	border-top:2px solid #E43B3E;
	border-bottom:2px solid #E43B3E;
	border-left:2px solid #E43B3E;
	padding:0;
	font-size:12px;
	padding-left:25px;
}
#submit-search-form {
	width:80px;
	background:#E43B3E;
	font-weight:700;
	font-family:'Microsoft Yahei', '\5b8b\4f53';
	border-radius:0 2px 2px 0;
	color:#fff;
	height:32px;
	font-size:14px;
	line-height:30px;
	display:inline-block;
	float:right;
	text-align:center;
	text-decoration:none;
	border:0;
}
#submit-search-form:hover {
	background:#E43B3B;
}
.sitephone{
	float:left;
	width:220px;
	height:60px;
	background:url(../images/sitephone.png) no-repeat right;
	text-indent:-9999px;
}
#header .placeholder {
	float:left;
	position:relative;
	overflow:hidden;
}
#header .placeholder label {
	display:inline-block;
	height:30px;
	line-height:30px;
	color:#999;
	position:absolute;
	top:0;
	cursor:text;
	margin-left:5px;
}
.siteNav {
	background:#E43B3E;
	margin-bottom:5px;
}
.srh_wrap {
	position:relative;
	z-index:16;
	width:1000px;
	height:38px;
	margin:0 auto;
	padding:0;
}
.srh_category {
	position:relative;
	left:0;
	top:0;
	width:200px;
	height:38px;
}
.srh_category .mt {
	position:absolute;
	left:0;
	top:0;
	width:200px;
	height:38px;
	overflow:hidden;
	background:url(../images/category.png) #CD2A2C no-repeat 0 -40px;
	text-align:center;
	line-height:38px;
}
.srh_category .showmenu {
	background:url(../images/category.png) #CD2A2C no-repeat 0 0;
}
.srh_category .mt .mt_t {
	display:block;
	color:#fff;
	letter-spacing:1px;
	font-weight:normal;
	text-decoration:none;
	font-family:'Microsoft Yahei', '\5b8b\4f53';
	font-size:16px;
}
.srh_category .mc {
	position:absolute;
	left:0;
	top:38px;
	width:198px;
	height:371px;
	border:1px solid #D90000;
	border-top:0;
	background:#fff;
}
.srh_category .mc dl.item {
	padding:0;
}
.srh_category .mc dl.item .i_t {
	height:36px;
	line-height:36px;
	padding-left:20px;
	background:url(../images/_category.png) no-repeat  180px 14px;
	color:#000;
	font-size:15px;
	border-bottom:1px  dotted #E4E4E4;
}
.srh_category .mc dl.item .i_t a{
	text-decoration:none;
}
.srh_category .mc dl.item .i_t a:hover{
	color:#E4393C;
	font-weight:bolder;
}
.categUl {
	padding-left:15px;
	overflow:hidden;
}
.categUl:after {
	display:block;
	height:0;
	content:' ';
	clear:both;
	visibility:visible;
   *zoom;
   1;
}
.categUl li {
	float:left;
	width:49%;
	text-align:left;
	line-height:19px;
	height:19px;
	overflow:hidden;
}
.categUl li a {
	text-align:left;
	word-spacing:normal;
	word-break:normal;
	margin:0;
	padding:0;
	font-family:'simsun';
}


.zhezhao{
	width:10px;
	height:36px;
	background:#fafafa;
	position:absolute;
	left:-5px;
}
.srh_category .mc dl.item.hover {
	background:#fff;
}
.srh_category .mc dl.item.hover .i_t {
	border:#D90000 1px solid;
	border-left:0;
	border-right:0;
	background-color:#fafafa;
}
.i_c_tips {
	position:absolute;
	z-index:199;
	width:670px;
	border:1px solid #D90000;
}
.i_c_tips .i_c_tips_t {
	height:36px;
	border-bottom:#e6e6e6 1px solid;
	background:#fafafa;
	text-indent:10px;
	color:#CD2A2C;
	line-height:36px;
	font-weight:bolder;
	font-size:15px;
}
.i_c_tips .i_c_tips_c {
	padding:10px 15px;
	background:#fff;
}
.i_c_tips .i_c_tips_c .c_item {
	width:320px;
	float:left;
*display:inline;
}
.i_c_tips .i_c_tips_c .t {
	padding-left:0px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:20px;
	font:300 14px/22px 'simsun';
	color:#f60;
	border-bottom:1px dotted #ddd;
}
.i_c_tips .i_c_tips_c ul {
	width:100%;
	height:100%;
    *background:#fff;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
}
.i_c_tips .i_c_tips_c ul:after {
	clear:both;
	display:block;
	height:0;
	content:'';
}
.i_c_tips .i_c_tips_c ul li {
	float:left;
*display:inline;
	width:55px;
	height:28px;
	overflow:hidden;
	font-size:12px;
	line-height:28px;
}
.i_c_tips .i_c_tips_c ul li a {
	color:#666;
}
.i_c_tips .i_c_tips_c ul li a:hover {
	color:#f60;
}
.srh_yy {
	position:absolute;
	left:195px;
	top:13px;
}
.srh_yy ul {
	float:left;
}
.srh_yy li {
	float:left;
	margin-right:20px;
}
.srh_yy li a {
	display:block;
}
.srh_menu {
	position:absolute;
	left:200px;
	top:0px;
}
.srh_menu ul {
	float:left;
}
.srh_menu li {
	float:left;
}
.srh_menu li a {
	display:block;
	padding:0 25px;
	font:300 14px/38px 'microsoft yahei';
	color:#fff;
}
.srh_menu li.curr a,.srh_menu li a:hover {
	background:#A40000;
	text-decoration:none;
}
.login_layout:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}

.login_layout {
	border:1px solid #d5d5d5;
	box-shadow:1px 1px 1px #dce0de;
	background-color:#FFF;
	width:949px;
}
.login_title h2 {
	height:47px;
	border:1px solid #FFF;
	border-bottom-color:#e3e3e3;
	background:url(../images/myls05.png) no-repeat;
	padding-left:30px;
	background-repeat:repeat-x;
	color:#171717;
	font:22px/47px Microsoft Yahei;
}
.login_ConInput {
	margin:58px 0 0 140px;
}
.login_Explain {
	width:605px;
	padding:50px 0 50px 340px;
	margin:0 auto;
}
.login_Explain_Right, .login_Explain_Wrong {
	background:url(../images/success.jpg) no-repeat;
}
.login_Explain_Right {
	background-position:220px -150px;
}
.login_Explain_Wrong {
	background-position:220px 40px;
}
.login_Explain h2 {
	font-size:14px;
	font-weight:bold;
	color:#666;
	padding-bottom:6px;
	color:#F30;
}
.login_Explain p {
	height:26px;
	color:#999;
	margin-top:3px;
	line-height:26px;
}

.sortt, .sortfind, .sortfind-no span, .sequence a span.down, .sequence a span.up, .page-mini a, .com-mark a, .com-price a, .com-info .place, .sub-placewarp span.tri, .page a.pageup em, .page a.pagedown em, .com-time, .com-time span, .find-listinfo a, .find-listimg span, .sortcon-linkmore span, .morecity-tit, .morecity-icon, .brand-zone dt, .brand-zonetit span, .search-hotcen a, .search-hotcen a span, .sftext, .sfbut, .xstime, .banner-close {
	background:url(../images/main18.png) no-repeat;
}
.page, .page2 {
	margin-top:13px;
*margin-top:33px;
	_margin-top:13px;
	height:32px;
	text-align:center;
	font-size:0;
}
.page span {
	display:inline-block;
	width:16px;
	margin:4px 8px 0 0;
	height:25px;
	font-size:12px;
	font-weight:bold;
	vertical-align:top;
}
.page a, .page2 a, .page2 strong, .page2 span {
	display:inline-block;
	width:auto;
	padding:6px 10px;
	padding:6px 11px\9;
	border:1px solid #dfdfdf;
	font:16px/18px Arial;
	background:#FFF;
	color:#505050;
	margin-right:8px;
	vertical-align:top;
	box-shadow:1px 1px 1px #dce0de;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	overflow:hidden;
}
.page a.current, .page2 strong {
	background-color:#ff8300;
	color:#FFF;
	font-weight:bold;
	border-color:#e7c7a1;
}
.page a.pageup em, .page a.pagedown em {
	width:6px;
	height:9px;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle\9;
}
.page a.pageup em {
	background-position:-139px 0;
	margin-right:12px;
}
.page a.pagedown em {
	background-position:-145px 0;
	margin-left:12px;
}
.page a:hover, .page2 a:hover {
	background-color:#c3c3c3;
	text-decoration:none;
}
.page a.current:hover {
	background-color:#ff8300;
}
.page a.pageup:hover em {
	background-position:-139px -18px;
}
.page a.pagedown:hover em {
	background-position:-145px -18px;
}
.page a.pageup-dis, .page a.pagedown-dis, .page2 span {
	background-color:#eff2f0;
	color:#bcbebd;
	cursor:default;
}
.page a.pageup-dis em {
	background-position:-139px -9px;
}
.page a.pagedown-dis em {
	background-position:-145px -9px;
}
.page a.pageup-dis:hover, .page a.pagedown-dis:hover {
	background-color:#eff2f0;
}
.page a.pageup-dis:hover em {
	background-position:-139px -9px;
}
.page a.pagedown-dis:hover em {
	background-position:-145px -9px;
}
.page-white a {
	border-color:#DCDCDC;
	box-shadow:1px 1px 1px #ECECEC;
}
.page-white a.pageup-dis, .page-white a.pagedown-dis, .page-white span {
	background-color:#FFF;
	color:#C6C6C6;
	border-color:#D5D5D5;
}
.page-white a.pageup-dis em, .page-white a.pageup-dis:hover em {
	background-position:0 -335px;
}
.page-white a.pagedown-dis em, .page-white a.pagedown-dis:hover em {
	background-position:-6px -335px;
}
.page-white a.pageup-dis:hover, .page-white a.pagedown-dis:hover {
	background-color:#FFF;
}
.ftl dd, .phone span, .hot li, .hot li.current a, #go-top a, .hang-close, .hang-cen em {
	background:url(../images/footer01.png) no-repeat;
}
.ftl {
	border:1px solid #d5d5d5;
	border-top:2px solid #d5d5d5;
	box-shadow:1px 1px 1px #dce0de;
	background-color:#FFF;
	margin-bottom:20px;
	padding:25px 0 25px 22px;
	overflow:hidden;
	_display:inline-block;
}
.ftl dl {
	width:140px;
	float:left;
}
.ftl dt {
	color:#676767;
	font-size:14px;
	font-weight:bold;
	padding-bottom:5px;
}
.ftl dd {
	margin-top:5px;
	padding-left:10px;
	background-position:0 -110px;
	background-position:0 -112px\9;
	_background-position:0 -110px;
}
.ftl dd a {
	color:#686e6f;
}
.phone {
	width:172px;
	height:127px;
	float:left;
	border-left:1px solid #e8e8e8;
	padding:4px 0 0 28px;
}
.phone span {
	display:block;
	width:167px;
	height:110px;
	background-position:0 0;
}
.phone span em {
	display:none;
}
.hot {
	border:1px solid #d5d5d5;
	box-shadow:1px 1px 1px #dce0de;
	background-color:#FFF;
	margin-bottom:25px;
}
.hott {
	background-color:#eaeaea;
	padding-left:2px;
	height:29px;
}
.hot ul {
	width:100%;
	height:28px;
	border-bottom:1px solid #FFF;
	_overflow:hidden;
}
.hot li {
	font-size:14px;
	font-weight:bold;
	line-height:28px;
	height:28px;
	padding-right:2px;
	float:left;
	text-align:center;
	background-position:right -110px;
	_position:relative;
}
.hot li.nobg {
	background-position:300px -110px;
}
.hot li a {
	display:inline-block;
	padding:0 15px 0 17px;
	height:28px;
	color:#676767;
}
.hot li.current {
	background-position:right -140px;
	background-color:#FFF;
	height:30px;
	margin-left:-2px;
	_overflow:hidden;
}
.hot li.current a {
	height:30px;
	background-position:left -170px;
	padding-left:19px;
	vertical-align:top;
}
.hot li.current a.hot01 {
	background:none;
}
.hotc {
	padding:15px 20px;
	border-top:1px solid #d8d8d8;
}
.hotc p {
	display:none;
	line-height:20px;
}
.hotc p.hotc01 {
	display:block;
}
.hotc p a {
	color:#686e6f;
	display:inline-block;
	margin-right:13px;
}
.attest {
	height:41px;
	text-align:center;
	font-size:0;
	margin-bottom:15px;
}
.attest a {
	display:inline-block;
	height:41px;
	background:url(../images/attest02.jpg) no-repeat;
	margin-right:4px;
}
.attest a.attest01 {
	width:104px;
	background-position:0 0;
}
.attest a.attest02 {
	width:104px;
	background-position:-104px 0;
}
.attest a.attest03 {
	width:127px;
	background-position:-208px 0;
}
.attest a.attest04 {
	width:96px;
	background-position:-335px 0;
}
.attest a.attest05 {
	width:110px;
	background-position:-431px 0;
}
.attest a.fzgs {
	width:66px;
	background-position:0 -41px;
	font-size:14px;
	vertical-align:top;
	padding-left:45px;
	text-align:left;
	line-height:41px;
	color:#717171;
	font-family:Microsoft Yahei;
}
.attest a.fzgs:hover {
	text-decoration:none;
}
#footer p.copyright {
	text-align:center;
	margin-bottom:20px;
}
#go-top {
	display:none;
	width:47px;
	height:50px;
	position:fixed;
	_position:absolute;
	z-index:1500;
	right:50%;
	bottom:50px;
	margin-right:-535px;
}
#go-top a {
	display:block;
	width:47px;
	height:50px;
	line-height:50px;
	text-indent:10em;
	background-position:0 -200px;
	overflow:hidden;
}
#go-top a:hover {
	background-position:-47px -200px;
}
.pop-title, .pop-close, .poptt a.current, .pemt, .popbut, .popokbut, .ppot, .ppotbut, .popc span.error01, .pop-oktext span, .kxbut, .kxbut span, .close_float, .topCon, .outset, .outset-but, #poptext span {
	background:url(../images/pop01.png) no-repeat;
}
#shadowLayer {
	position:fixed;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=60);
	opacity:.6;
	z-index:8000;
	top:0;
	left:0;
	display:none;
}
.pop {
	border:3px solid #d4d4d4;
	background-color:#FFF;
	position:fixed;
	left:50%;
	top:50%;
	z-index:8500;
	display:none;
}
.pop a {
	color:#506eaa;
}
#subscribe {
	width:418px;
	height:282px;
	margin:-144px 0 0 -212px;
}
#attention {
	width:540px;
	height:282px;
	margin:-144px 0 0 -273px;
}
.pop a.pop-close {
	display:block;
	width:17px;
	height:17px;
	background-position:0 -147px;
	position:absolute;
	right:12px;
	top:12px;
}
.pop a.pop-close:hover {
	background-position:-17px -147px;
}
.pop-title {
	height:39px;
	border-bottom:1px solid #e7e7e7;
	color:#2e2e2e;
	background-repeat:repeat-x;
	background-color:#F8F8F8;
	padding-left:20px;
	font:bold 14px/39px \5b8b\4f53;
}
.poptt {
	margin:15px 20px 0;
	height:28px;
	border-bottom:1px solid #d5d5d5;
	padding-left:25px;
	font-size:14px;
}
.poptt a {
	display:block;
	width:87px;
	height:26px;
	float:left;
	margin-left:2px;
	line-height:26px;
	padding-top:3px;
	text-align:center;
	position:relative;
	margin-bottom:-1px;
}
.poptt a.current {
	background-color:#FBFBFB;
	background-position:0 -93px;
	color:#5e5e5e;
}
.poptt a.current:hover {
	text-decoration:none;
}
.popc {
	padding:15px 25px;
}
.pop-email, .pop-phone {
	height:168px;
	position:relative;
}
.pop-phone {
	display:none;
}
.pop-email strong, .pop-phone strong {
	display:block;
	height:21px;
	font-size:14px;
}
.pop-email input.pemt {
	width:356px;
	height:20px;
	border:1px solid #dbdbdb;
	font-size:14px;
	padding:7px 0 7px 10px;
	margin-top:10px;
	line-height:20px;
	background-repeat:repeat-x;
	background-position:0 -193px;
	background-color:#fafafa;
	color:#acacac;
}
.pop-ckb {
	height:18px;
	margin-top:10px;
	padding-left:18px;
	position:relative;
}
.pop-ckb input.pemc {
	position:absolute;
	left:0;
*left:-4px;
	top:3px;
	top:2px\9;
*top:-3px;
	_top:-1px;
}
.pop input.popbut {
	width:94px;
	height:27px;
	line-height:29px\9;
	overflow:hidden\9;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-55px;
	border:0;
	background-color:#92ACDE;
	background-position:0 -39px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	text-shadow:1px 1px 1px #7488af;
}
.pop input.popbut-dis {
	background-position:0 -66px;
	text-shadow:1px 1px 1px #969696;
	cursor:default;
}
.popc a.popnosb {
	display:inline-block;
	position:absolute;
	bottom:2px;
	right:50%;
	margin-right:-85px;
	font-size:14px;
}
.pop-phone table {
	width:100%;
}
.pop-phone th {
	height:25px;
	width:45px;
	padding-top:10px;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}
.pop-phone th label {
	display:inline-block;
	line-height:25px;
}
.pop-phone td {
	height:25px;
	padding-top:8px;
}
.pop-phone td input.ppot {
	width:205px;
	height:18px;
	float:left;
	padding:3px 0 2px 5px;
	line-height:18px;
	font-size:12px;
	border:1px solid #dbdbdb;
	background-repeat:repeat-x;
	background-position:0 -193px;
	background-color:#fafafa;
	color:#acacac;
}
.pop-phone td input.ppotbut {
	width:84px;
	height:25px;
	line-height:25px;
	border:none;
	background-position:0 -122px;
	float:left;
	margin-left:10px;
	color:#6885c1;
	cursor:pointer;
}
.pop-phone td input.smsbut-dis {
	color:#C2C2C2;
	cursor:default;
}
.pop-phone td span.ppos {
	display:inline-block;
	float:left;
	margin-left:10px;
	color:#7d7d7d;
	height:25px;
	line-height:25px;
}
.pop-phone td span.ppos b {
	color:#506eaa;
	font-weight:normal;
}
.popc span.error01 {
	display:block;
	clear:both;
	height:15px;
	line-height:15px;
	padding-left:20px;
	color:#df1e1e;
	background-position:-85px -124px;
	padding-top:3px;
}
.popc span.error02 {
	display:block;
	clear:both;
	height:15px;
	line-height:15px;
	color:#ef5400;
	padding-top:3px;
}
.pop-email input.error, .pop-phone td input.error {
	border-color:#e8b1b1;
	background-position:0 -227px;
	background-color:#fff9f9;
}
.pop-eok, .pop-eusok, .pop-pok, .pop-pusok {
	padding:20px;
	display:none;
}
.pop-oktext {
	height:50px;
	border-bottom:1px dashed #dcdcdc;
	padding:30px 0 25px 25px;
	color:#6c6c6c;
	font-size:14px;
}
.pop-oktext span {
	display:block;
	width:59px;
	height:46px;
	background-position:-41px -147px;
	float:left;
	margin:4px 20px 0 0;
}
.pop-oktext strong {
	display:inline-block;
	color:#4f4f4f;
	font-family:Microsoft Yahei, \9ED1\4F53;
	font-size:20px;
	font-weight:normal;
}
.pop-okbut {
	padding-top:40px;
	text-align:center;
}
.pop-okbut .popokbut {
	width:94px;
	height:27px;
	line-height:29px\9;
	overflow:hidden\9;
	border:0;
	background-position:0 -39px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	text-shadow:1px 1px 1px #7488af;
}
.pop-eok p {
	text-align:center;
	color:#6c6c6c;
	margin-top:20px;
}
.pop-eok p a {
	text-decoration:underline;
}
.pop-eok p a:hover {
	text-decoration:none;
}
.pop-eok .pop-okbut {
	padding-top:20px;
}
.pop-weixin, .pop-sina, .pop-tengx, .pop-kaix, .pop-qq {
	height:163px;
	position:relative;
	display:none;
}
.pop-weixin {
	display:block;
	padding:15px 0 0 70px;
	height:148px;
}
.pop-weixin img {
	float:left;
	margin-right:30px;
}
.pop-wxtext {
	float:left;
	width:200px;
}
.pop-wxtext b {
	font-size:14px;
	color:#EF5701;
	display:block;
	margin-bottom:3px;
}
.pop-wxtext em {
	font-size:14px;
	color:#444;
}
.pop-wxtext p {
	line-height:20px;
	color:#868686;
	margin-top:10px;
	font-family:\5b8b\4f53;
}
.pop-sina {
	padding-left:100px;
}
.pop-tengx {
	padding:20px 0 0 130px;
	height:143px;
}
.pop-qq {
	padding:20px 0 0 90px;
	height:143px;
}
.pop-kaix {
	padding:17px 120px 0;
	height:146px;
}
.pop-kaix a.kximg {
	display:block;
	width:78px;
	height:78px;
	border:3px solid #e4e4e4;
	float:left;
	margin-right:15px;
}
.pop-kaix strong {
	font-size:14px;
	color:#383838;
	display:inline-block;
	margin:15px 0 10px;
}
.pop-kaix a.kxbut {
	display:inline-block;
	width:55px;
	height:25px;
	line-height:25px;
	background-position:0 -122px;
	color:#506eaa;
	text-shadow:1px 1px 1px #FFF;
	position:relative;
	padding-left:29px;
}
.pop-kaix a.kxbut:hover {
	text-decoration:none;
}
.pop-kaix a.kxbut span {
	display:block;
	width:19px;
	height:20px;
	background-position:0 -169px;
	position:absolute;
	left:5px;
	top:2px;
	cursor:pointer;
}
#collect {
	width:426px;
	height:330px;
	margin:-168px 0 0 -216px;
}
.collectok {
	padding:5px 0 5px 80px;
}
.collectok .pop-oktext {
	border-bottom:none;
}
.collectok a {
	margin:0 3px;
}
div.opened {
	width:300px;
}
.lsm-num, .lsm-add, .lsm-tips em, .lsm-add .m-box, .lsm-add .m-box b, a.lsm-buy-btn, .lsm-pro-tips01 em, .lsm-pro-list .down, .lsm-pro-list .up, .lsm-add-icon, a.lsm-deal-add, .lsm-fre1 .arrow-r, .lsm-fre1 .arrow-l, .lsm-pro-tips em, a.lsm-buy-btn2, a.lsm-con-btn, .lsm-num-1 {
	background:url(../images/mall_buy_icon_04.png);
	display:block;
}
.lsm-fm {
	z-index:1001;
	position:fixed;
	width:50px;
	_position:absolute;
	bottom:0;
	right:0;
}
.lsm-fm em {
	font-family:Arial;
	font-style:normal;
}
.lsm-num, .lsm-num-1 {
	background-position:-128px -42px;
	width:50px;
	height:32px;
	cursor:pointer;
	text-indent:-999em;
}
.lsm-tips {
	color:#666;
	line-height:20px;
	margin:0 0 5px -48px;
	position:relative;
	text-align:center;
}
div.lsm-tips-on {
	background-color:#ffffe5;
	border:1px solid #fdcc7f;
}
.lsm-tips em {
	background-position:-278px -84px;
	width:9px;
	height:6px;
	position:absolute;
	top:20px;
	left:65px;
	overflow:hidden;
}
.lsm-pro-fm {
	width:294px;
	border:1px solid #ccc;
	background:#fff;
	color:#000;
	text-align:left;
	left:2px;
	position:relative;
	margin-bottom:-7px;
}
.lsm-list-tit {
	background-position:0 -305px;
	background-repeat:repeat-x;
	height:36px;
	line-height:36px;
	padding-left:25px;
	overflow:hidden;
}
.lsm-list-tit h1 {
	font-size:14px;
	font-weight:bold;
}
.lsm-minus-icon {
	background-position:-242px -235px;
	width:53px;
	height:54px;
	position:absolute;
	left:-1px;
	top:-1px;
	color:#FFF;
	padding:4px 0 0 5px;
	font-family:\5b8b\4f53;
}
.lsm-list-tit h1 em {
	background-position:-1px -80px;
	width:107px;
	height:27px;
	margin:5px 10px 0 10px;
	display:inline-block;
	vertical-align:middle;
}
.lsm-th-pro {
	line-height:22px;
	_line-height:20px;
	background:#d5e4bb;
	display:inline-block;
	margin:6px 0 0 3px;
	height:22px;
	overflow:hidden;
}
.lsm-th-pro i {
	color:#65779b;
	padding:0 2px;
	font-style:normal;
}
.lsm-th-pro b {
	font-family:Arial;
	font-weight:normal;
}
.lsm-pro-tips01 {
	text-align:center;
	color:#666;
	padding:5px 0;
	line-height:25px;
	height:25px;
	border:1px solid #FFF;
	background:#EEE;
	display:block;
}
.lsm-pro-tips01 em {
	background-position:-167px -80px;
	width:15px;
	height:21px;
	vertical-align:middle;
	display:inline-block;
	margin:0 8px;
}
.lsm-add {
	padding:10px 10px 0 0;
	font-size:14px;
	color:#FFF;
	height:22px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	font-family:\5b8b\4f53;
	background-position:0 -4px;
}
.lsm-left {
	width:227px;
}
.lsm-price {
	padding-right:6px;
	margin-top:-2px;
}
.lsm-add .m-box {
	background-position:-248px -132px;
	margin:2px 3px 0 4px;
	padding-left:12px;
}
.lsm-add .m-box b {
	font-family:Arial;
	background-position:right -132px;
	padding-right:8px;
	display:inline-block;
}
.lsm-add .m-box i {
	position:relative;
	top:-8px;
	font-style:normal;
	font-weight:normal;
}
.lsm-add-r {
	color:#fcc;
	font-size:12px;
}
.lsm-fre {
	position:relative;
}
.lsm-frm-icon {
	background-position:-170px -126px;
	width:58px;
	height:31px;
	margin:3px 8px 0 3px;
	float:right;
}
.lsm-fre1 {
	border:1px solid #a3b2d0;
	background:#fff;
	padding:0 8px;
	color:#66789c;
	position:relative;
	line-height:18px;
	margin:2px 5px 0 5px;
	display:inline-block;
	font-size:12px;
}
.lsm-fre {
	position:relative;
}
.lsm-fre1 .arrow-r {
	background-position:-271px -82px;
	right:-6px;
}
.lsm-fre1 .arrow-l {
	background-position:-262px -82px;
	left:-6px;
}
.lsm-fre1 .arrow-r, .lsm-fre1 .arrow-l {
	width:6px;
	height:7px;
	position:absolute;
	top:6px;
}
.lsm-pro-list {
	position:relative;
}
.lsm-pro-list dt {
	line-height:30px;
	height:30px;
	position:relative;
	padding-left:6px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
.lsm-pro-list ul {
	padding:12px 0 0 12px;
	overflow:hidden;
	_display:inline-block;
}
.lsm-pro-list li {
	float:left;
	padding-right:6px;
	display:inline;
	color:#666;
}
.lsm-pro-list li a {
	color:#333;
}
.lsm-pro-list dl p {
	padding:2px 0;
}
.lsm-pro-list .size {
	color:#CCC;
}
.lsm-pro-list .price {
	color:#c00;
}
.lsm-pro-list a.cancel {
	color:#999;
}
.lsm-pro-list .list {
	position:absolute;
	text-align:right;
	right:0;
}
.lsm-pro-list .down {
	background-position:-252px -82px;
}
.lsm-pro-list .up {
	background-position:-252px -86px;
}
.lsm-pro-list .down, .lsm-pro-list .up {
	position:absolute;
	width:8px;
	height:5px;
	top:12px;
	right:7px;
	overflow:hidden;
}
.lsm-total {
	border-bottom:1px solid #ccc;
	padding:10px 0;
	overflow:hidden;
	_display:inline-block;
	clear:both;
}
.lsm-total-1 {
	text-align:right;
	padding:6px 3px 8px 0;
	font-family:\5b8b\4f53;
}
.lsm-total-1 p {
	padding:6px 0;
}
a.lsm-buy-btn {
	background-position:-183px -43px;
	width:73px;
	height:29px;
	bottom:0;
	position:absolute;
	right:1px;
}
a.lsm-buy-btn, a.lsm-buy-btn1 {
	text-indent:-999em;
	cursor:pointer;
	overflow:hidden;
}
.lsm-deal {
	background-color:#e3f3ff;
	border:1px solid #c9e1ff;
}
.lsm-deal-fm {
	margin-top:75px;
}
.lsm-fm .lsm-total strong, .lsm-total-1 strong, .lsm-total-2 strong, .lsm-pro-box1 em {
	color:#c00;
	font-family:Arial;
	font-style:normal;
}
.lsm-pro-box1 em {
	padding:0 3px;
}
.lsm-pro-tips {
	position:absolute;
	border:1px solid #ccc;
	background:#f6f6f6;
	font-size:12px;
	line-height:22px;
	height:22px;
	right:0;
	top:0;
	overflow:hidden;
	margin:5px 0 0 10px;
}
.lsm-pro-box1 a {
	color:#506eaa;
}
.lsm-pro-tips em {
	background-position:-184px -77px;
	width:22px;
	height:22px;
	border-right:1px solid #ccc;
	float:left;
	margin:0 5px 0 1px;
}
.sortfind {
	height:42px;
	background-position:0 -253px;
	background-repeat:repeat-x;
	border:1px solid white;
	border-bottom:none;
	overflow:hidden;
	font-size:14px;
	padding:0 14px;
	line-height:42px;
	position:relative;
}
.sortfind-no {
	height:33px;
	padding:9px 0 7px;
	line-height:33px;
	text-align:center;
	font-size:16px;
}
.sortfind input.sftext {
	width:165px;
	height:16px;
	font-size:12px;
	padding:2px 0 2px 8px;
	_padding:4px 0 0 8px;
	line-height:16px;
	overflow:hidden;
	font-family:\5b8b\4f53;
	border:1px solid #CFCFCF;
	color:#AEAEAE;
	position:absolute;
	right:35px;
	top:11px;
	background-position:0 -428px;
	background-repeat:repeat-x;
}
.sortfind input.sfbut {
	width:21px;
	height:22px;
	border:none;
	cursor:pointer;
	position:absolute;
	right:14px;
	top:11px;
	background-position:-127px -354px;
}
.sortfind-no span {
	display:inline-block;
	width:45px;
	height:33px;
	background-position:0 -302px;
}
.sortfind b {
	color:#C50000;
}
.sortfind-no em {
	display:inline-block;
	height:33px;
	vertical-align:top;
}
.sortfind-notext {
	height:47px;
	line-height:47px;
	border-top:1px solid #E3E3E3;
	background-color:#FFF;
	padding-left:18px;
}
.sortfind-notext a {
	color:#506EAA;
}
.search-warp {
	margin-top:-13px;
	border:1px solid #C8CCCA;
	border-top:1px solid #E3E3E3;
	box-shadow:1px 1px 1px #DCE0DE;
	background-color:#FFF;
}
.search-hot {
	padding:20px 0 0 18px;
}
.search-hot p {
	height:20px;
	line-height:20px;
}
.search-hot a {
	color:#506EAA;
}
.search-hotcen {
	margin-top:10px;
}
.search-hotcen b {
	color:#444;
	display:inline-block;
	height:20px;
	float:left;
}
.search-hotcen a {
	display:inline-block;
	width:auto;
	height:20px;
	padding-left:13px;
	background-position:left -408px;
	float:left;
	margin-right:5px;
}
.search-hotcen a:hover {
	text-decoration:none;
}
.search-hotcen a span {
	display:inline-block;
	width:auto;
	height:20px;
	line-height:20px;
	line-height:24px\9;
	_line-height:20px;
	padding-right:8px;
	background-position:right -408px;
	float:left;
	overflow:hidden;
	cursor:pointer;
}
.find-list {
	border:1px solid #C8CCCA;
	box-shadow:1px 1px 1px #dce0de;
	font-family:\5b8b\4f53;
	margin-top:25px;
	background-color:#FFF;
}
.search-warp .find-list {
	border:none;
	margin-top:0;
	box-shadow:none;
}
.sort .find-list {
	margin:0;
	border:none;
	border-top:1px dashed #C8CCCA;
	box-shadow:none;
}
.find-list h4 {
	color:#202020;
	font-size:14px;
	height:16px;
	padding:18px 18px 15px;
	line-height:16px;
}
.find-list ul {
	height:233px;
	border-bottom:1px solid #DFDFDF;
}
.find-list ul.noline {
	border-bottom:none;
}
.find-list li {
	width:200px;
	padding:0 19px 0 18px;
	float:left;
}
.find-listimg {
	display:block;
	width:200px;
	height:127px;
	margin-bottom:12px;
	position:relative;
}
.find-listimg span {
	display:block;
	width:49px;
	height:52px;
	background-position:-113px -302px;
	position:absolute;
	right:-3px;
	top:-3px;
}
.find-list h5 {
	font-weight:normal;
	margin-bottom:10px;
	height:36px;
	overflow:hidden;
}
.find-list h5 a {
	color:#494949;
}
.find-listinfo {
	color:#858484;
	font-family:arial;
	height:23px;
}
.find-listinfo a {
	display:inline-block;
	width:62px;
	height:23px;
	float:right;
	background-position:-45px -325px;
	text-align:center;
	line-height:23px;
	color:#FFF;
	text-shadow:1px 1px 1px #6B8AC5;
	overflow:hidden;
	line-height:25px\9;
}
.find-listinfo a:hover {
	text-decoration:none;
}
.find-listinfo a.link {
	width:auto;
	float:left;
	background:none;
	color:#506EAA;
	font-family:\5b8b\4f53;
	text-shadow:none;
}
.find-listinfo a.link:hover {
	text-decoration:underline;
}
.find-listinfo span {
	font-size:14px;
	font-weight:bold;
	line-height:23px;
	color:#EB4800;
	padding-right:10px;
}
.find-listinfo del {
	text-decoration:none;
}
.morecity {
	width:471px;
	border:2px solid #E3E3E3;
	display:none;
	position:absolute;
	right:15px;
	top:28px;
	background-color:#FFF;
	z-index:2000;
}
.morecity2 {
	right:-399px;
	top:19px;
	top:28px\9;
}
.morecity3 {
	right:0;
	top:19px;
	top:28px\9;
}
.morecity-tit {
	height:27px;
	background-position:0 -202px;
	background-repeat:repeat-x;
	border-bottom:1px solid #E7E7E7;
	padding:7px 0 0 14px;
}
.morecity-tit a {
	margin-right:25px;
	font-size:14px;
	letter-spacing:1px;
}
.morecity-icon {
	display:block;
	width:15px;
	height:9px;
	background-position:-139px -58px;
	position:absolute;
	right:35px;
	top:-9px;
}
.morecity2 .morecity-icon {
	right:432px;
}
.morecity-cen {
	padding:15px 5px 5px 10px;
}
.hotel-other {
	display:none;
	height:140px;
}
.morecity-cen a {
	width:75px;
	padding:0;
	margin:0 0 10px;
}
.morecity-cen a:hover {
	background:none;
	color:#506EAA;
	text-decoration:underline;
}
.morecity-cen a:hover span {
	color:#939393;
}
#floatbox-overlay {
	left:0;
	position:absolute;
	top:0;
	z-index:1984;
}
#floatbox {
	position:absolute;
	left:0;
	top:0;
	z-index:1985;
	width:400px;
	border:3px solid #d4d4d4;
	background-color:#FFF;
}
.topCon {
	background-color:#f8f8f8;
	background-repeat:repeat-x;
	height:39px;
	padding:0 12px 0 20px;
	cursor:pointer;
	border-bottom:1px solid #E7E7E7;
	font:bold 14px/39px \5b8b\4f53;
}
.close_float {
	background-position:0 -147px;
	float:right;
	width:17px;
	height:17px;
	margin-top:12px;
	overflow:hidden;
	display:block;
	text-indent:-9999px;
	position:relative;
	z-index:100;
}
.close_float:hover {
	background-position:-17px -147px;
}
#poptext {
	width:296px;
	height:68px;
	margin:-54px 0 0 -151px;
	text-align:center;
	padding-top:34px;
	font-size:18px;
	font-weight:bold;
	line-height:30px;
}
#poptext span {
	display:inline-block;
	width:38px;
	height:30px;
	vertical-align:top;
	background-position:-43px -261px;
	margin-right:5px;
}
.com_adr {
	margin:15px 0 0;
	font-family:\5b8b\4f53;
}
.com_adr li {
	padding:0 8px;
	margin-bottom:20px;
}
.com_adr li a {
	color:#506EAA
}
.com_adr li b, .com_adr2 li b {
	color:#2C2C2C;
	display:inline-block;
	padding-bottom:8px;
}
.com_adr2 li b {
	padding-bottom:5px;
}
.com_adr li a.link {
	color:#2C2C2C;
	display:inline-block;
	margin-bottom:8px;
	font-weight:bold;
}
.com_adr li span, .com_adr2 li span {
	color:#787878;
	display:block;
	padding-bottom:6px;
}
.com_adr2 li span {
	padding-bottom:0;
}
.com_adr li span strong, .com_adr2 li span strong {
	color:#2C2C2C;
	font-weight:normal;
}
.com_adr li a {
	color:#506EAA;
}
.com_adr li em {
	color:#D4D4D4;
	padding:0 8px;
}
.com_adr2 {
	margin:10px 0 0;
	font-family:\5b8b\4f53;
}
.com_adr2 span.input {
	padding-top:5px;
}
.com_adr2 input.outset {
	width:150px;
	height:23px;
	height:16px\9;
	line-height:16px\9;
	padding:3px 0 4px\9;
	padding-left:6px;
	border:1px solid #CFCFCF;
	background-color:#FAFAFA;
	background-position:0 -193px;
	background-repeat:repeat-x;
}
.com_adr2 input.outset-but {
	width:43px;
	height:25px;
	border:none;
	background-position:0 -261px;
	color:#506EAA;
	margin-left:5px;
	cursor:pointer;
}
.xstm-warp {
	margin-top:-11px;
	background:url(../images/xstm.png) repeat-x;
}
.xstime {
	color:#5B5B5B;
	float:left;
	height:18px;
	padding-left:15px;
	background-position:-150px -354px;
	position:relative;
	z-index:30;
	bottom:-2px;
}
a.booking-but, .com-info span.star, .bking-search-but, .com-info span.dj {
	background:url(../images/hotel_icon.png) no-repeat;
}
.com-price a.booking-but {
	width:91px;
	height:34px;
}
.com-info span.star {
	float:left;
	display: inline-block;
	height:12px;
	background-position:0 -37px;
	margin-top:6px;
}
.com-info span.star1 {
	width:14px;
}
.com-info span.star2 {
	width:28px;
}
.com-info span.star3 {
	width:42px;
}
.com-info span.star4 {
	width:56px;
}
.com-info span.star5 {
	width:70px;
}
.com-info span.star0 {
	margin-top:2px;
	background:none;
}
.bking-search-but {
	width:91px;
	height:30px;
	background-position:-130px 0;
	border:none;
	cursor: pointer;
	float:left;
	margin-top:18px;
}
.setb-label {
	display:inline-block;
	margin-right:10px;
	float:left;
}
.setb-label input, .setb-label label {
	font-size:12px;
	vertical-align:middle;
	margin-right:5px;
	color:#506eaa;
	cursor: pointer;
}
.find-listinfo span font {
	font-size:12px;
	color:#858585;
	font-weight:normal;
}
.find-list ul.booking-hotul {
	height:245px;
}
.booking-hotul .com-info {
	margin-top:5px;
}
.booking-hotul .com-info span.n_buy_ed {
	color:#838383;
}
.booking-hotul .com-info span strong {
	color:#454545;
	font-weight:normal;
	font-size:12px;
}
.booking-hotul .com-info span.star {
	margin-top: 3px
}
.com-info span.dj {
	float:left;
	display: inline-block;
	height:12px;
	background-position:-1px -136px;
	margin-top:6px;
}
.com-info span.dj_1 {
	width:14px;
}
.com-info span.dj_2 {
	width:28px;
}
.com-info span.dj_3 {
	width:42px;
}
.com-info span.dj_4 {
	width:56px;
}
.com-info span.dj_5 {
	width:70px;
}
.com-info span.dj_0 {
	margin-top:2px;
	background:none;
}


.footer_line, .ft-fwrx-tel, .ft-fwrx-service a, .service-promise, .service-promise li a, .Service_Time p, .Service_Fund P {
	background:url(../images/footerimg.png);
}
.footer_content {
	background:#fff;
	overflow:hidden;
	zoom:1;
	clear:both;
}
.footer_line {
	height:2px;
	font-size:0;
	line-height:0;
	background-position:0 0;
}
.footservice {
	width:1000px;
	height:130px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
}
.footservice .support {
	width:1000px;
	margin:15px 0;
}
.footservice .support dl {
	float:left;
	width:183px;
}
.footservice .support dt {
	height:17px;
	margin-bottom:6px;
}
.footservice .support dt span {
	font-size:14px;
	font-weight:bold;
	color:#666;
}
.footservice .support .ft-newbie, .footservice .support .ft-faq, .footservice .support .ft-delivery, .footservice .support .ft-wares {
	width:167px;
}
.footservice .support .ft-ygjj {
	width:138px;
}
.footservice .support .ft-fwrx {
	width:180px;
}
.footservice .support .ft-fwrx .ft-fwrx-tel {
	background-position:0 -41px;
	height:16px;
	margin-top:10px;
}
.footservice .support .ft-fwrx .ft-fwrx-service a {
	background-position:0 -10px;
	width:109px;
	height:24px;
	display:block;
	text-indent:-999em;
}
.footservice .support .ft-fwrx .ft-fwrx-tel i {
	display:none;
}
.footservice .support .ft-fwrx .ft-fwrx-time {
	color:#9F9F9F;
}
.footservice .support dd {
	height:22px;
	padding:2px 0 0 0;
	_padding:3px 0 0 0;
	overflow:hidden;
}
.footservice .support dd.ft-fwrx-service {
	height:24px;
}
.footservice .support dd b {
	width:3px;
	height:3px;
	font-size:0;
	line-height:0;
	background:#CACACA;
	vertical-align:middle;
	display:inline-block;
	margin-right:5px;
}
.footservice a, .footer a:link, .footer a:visited {
	color:#9F9F9F;
}
.footservice a:hover, .footer a:hover {
	color:#f60;
	text-decoration:underline;
}
.service_date {
	width:393px;
	margin:18px auto 6px;
	text-align:center;
	height:48px;
	color:#fff;
}
.service_date .Service_Time {
	width:99px;
	padding:5px 0 0 15px;
	height:43px;
	text-align:left;
	background:#F60;
	border-radius:2px;
	display:block;
	float:left;
	margin:0 3px;
}
.service_date .Service_Time p {
	height:16px;
	line-height:15px;
	background-position:-215px -15px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Time span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund a {
	width:105px;
	padding:5px 10px 0 15px;
	_display:inline;
	height:43px;
	text-align:left;
	background:#3B0;
	border-radius:2px;
	display:block;
	float:left;
	color:#fff;
}
.service_date .Service_Fund p {
	height:16px;
	line-height:15px;
	background-position:-215px -40px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Fund span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund i {
	font-size:12px;
	padding-left:5px;
	line-height:20px;
}
.pledge {
	width:100%;
	height:57px;
	background:url(../images/pledge.png) #FFF no-repeat center;
	margin:0;
	padding:10px 0 10px 0;
}
.footer {
	width:100%;
	text-align:center;
	clear:both;
	padding:0 0 10px 0;
	font:12px/1.5 Tahoma, Arial, "宋体", Helvetica, sans-serif;
	color:#333;
}
.footer ul.footer_links {
	width:500px;
	margin:0 auto 4px;
	height:16px;
}
.footer ul.footer_links li {
	height:16px;
	line-height:16px;
	display:inline;
	float:left;
	text-align:left;
	color:#666;
}
.footer ul.footer_links li a {
	width:77px;
	text-align:center;
	display:inline-block;
	padding-left:2px;
	color:#666;
}
.footer a {
	text-align:center;
	line-height:16px;
	line-height:18px\9;
	color:#666;
}
.footer ul.footer_links li.footer_links_nonebj a {
	text-align:center;
	border-left:none;
	width:50px;
}
.copyright {
	text-align:center;
	color:#999;
	margin:0 auto 15px auto;
	padding:5px 0 0 0;
	clear:both;
	font-family:arial;
}
.footer_icon {
	width:512px;
	margin:0 auto 0 auto;
	height:30px;
}
.footer_icon li {
	width:90px;
	height:30px;
	margin:0 0 0 10px;
	float:left;
}
.footer_icon li a {
	width:90px;
	height:30px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.footer_icon li.fi_315online span {
	display:none;
}
.footer_icon .fi_pingan, .footer_icon .fi_alipay, .footer_icon .fi_cnnic, .footer_icon .fi_315online, .footer_icon .fi_ectrustchina {
	background:url(../images/footer.png) transparent scroll 0 0 no-repeat;
}
.footer_icon .fi_ectrustchina {
	background-position:0 -220px;
}
.footer_icon .fi_315online {
	background-position:0 -250px;
}
.footer_icon .fi_cnnic {
	background-position:0 -280px;
}
.footer_icon .fi_pingan {
	background-position:0 -310px;
}
.footer_icon .fi_alipay {
	background-position:0 -340px;
}

.to-cash,.to-cash1{
	width:693px;
	padding-left:20px;
	overflow:hidden;
}
.to-cash1 table{
	margin-top:20px;
}
.to-cash-tit {
    border-bottom:1px solid #F90;
    height:24px;
	font-size:12px;
	width:693px;
}
.to-cash-tit span {
    background:#F90;
    color: #fff;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
} 
.hasbanks{
	display:none;
}
.to-cash-tit .add-banks{ float:right; color:#666666; display:none;}
.to-cash-tit .showbanks,.showbanks{ display:block;}
.to-cash-tit .add-banks a{ color:#c92707; font-weight:bold;}
.to-cash table{ width:693px; margin-bottom:15px;}
.to-cash table th{ font-weight:normal; color:#333333;padding:5px 0; background:#f8f8f8; font-size:12px;}
.to-cash table th,.to-cash table td{ border-bottom:1px #e8e8e8 solid;font-size:12px; text-align:left; padding-left:10px; }
.to-cash table td{ color:#666666; padding:10px 0;font-size:12px; padding-left:10px;} 
.to-cash table td input{ vertical-align:middle;} 
.to-cash table a{color:#257EA8;}
.to-cash table a:hover{color:#b90f0d;}
.bankcard{
	padding-top:10px;
	background:#FFF;
	padding-bottom:20px;
}
.hasbanks tr td{
	text-align:center;
}
table.t_info{ width:165px; background:#006600;border-collapse:collapse;}
table.t_info th{ color:#FFF; text-align:center; height:25px; line-height:25px;border:1px solid #006600;}
table.t_info th a{ color:#FFF;}
table.t_info ._span{color:#F00; cursor:pointer;}
table.t_info ._span:hover{ text-decoration:underline;}
table.t_info td{ height:17px;background:#FFFFFF;text-align:center;border:1px solid #006600;}
